@font-face {
  font-family: "Diavlo";
  src: url("/css/diavlo.otf");
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: "Diavlo";
}

header, footer, nav, section, article {
 display: block;
}

header {
  text-align: center;
}

header h1 {
  margin: -24px 0 0 0;
  font-size: 60px;
  letter-spacing: -4px;
}

header h2 {
  margin: 0;
  font-size: 1em;
}

nav {
  text-align: center;
  margin: 20px 0 20px 0;
  font-family: "Diavlo";
}

section {
  width: 500px;
  margin: 0 auto;
}

footer {
  margin-top: 3em;
  text-align: center;
  font-family: "Diavlo";
  font-size: 0.9em;
}
